.App {
  background-color: #252525;
    /* Change to a darker color */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
    /* Change to white text color */
}
.App-header {
  flex-shrink: 0;
}

.App-body {
  padding-top: 70px;
  flex-grow: 1;
  z-index: 0;
}
